.idea
./.idea
.idea/*
sample_data
./sample_data
sample_data/*
*.pyc
*.pyo
*.ipython*
./.ipython/*
./.ipython
.matplotlib/fontList.py3k.cache
*.matplotlib*
*./.matplotlib*
.ipynb_checkpoints
*.ipynb_checkpoints*
*./.ipynb_checkpoints*
*fontList.py3k.cache*
Sample_Data
*./Sample_Data*
./Sample_Data
./Logs
*Logs*
Logs/*
venv
./venv
./venv/*
.spyder*
.editorconfig
TODO
./datasets/Archive
./datasets/Archive/
./datasets/Archive/*
/datasets/Archive
/datasets/Archive/
/datasets/Archive/*
datasets/Archive
datasets/Archive/
datasets/Archive/*
reST.txt
venv
venv/
venv/*
./venv
./venv/
./venv/*
*.pyc
/dist/
/*.egg-info
/*.egg
Distributing.txt
headHome.sh
__pycache__
*__pycache__*
./Profiling
./Profiling/*
*Profiling*
dist
dist/
dist/*
./dist
build
build/*
./build
