include *.txt
include *.py
include *.csv
include VERSION
recursive-include chainladder *.py
recursive-include trikit/tests *.py
include trikit/datasets/*.csv
include docs/source/*.rst
include docs/source/*.md
prune Reference

